.container {
  text-align: center;
  width: 300px;
  margin: 60px auto;
  padding: 1rem 2rem;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #DF6F29;
  padding: 4px;
  margin-top: 20px;
}

.profile h1 {
  font-size: 32px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.profile p {
  font-weight: 400;
  opacity: 0.8;
  font-size: 18px;
}

.links {
  list-style: none;
  margin: 48px 0;
}

.links li a {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #DF6F29;
  color: white;
  font-size: 24px;
  margin-bottom: 16px;
  border-radius: 6px;

  transition: background 400ms;
}

.links li a:hover{
  background: #FF6F29;
}

footer {
  font-size: 12px;
  font-weight: 500;

  opacity: 0.6;
  transition: opacity 400ms;
}
footer:hover{
  opacity: 1;
}
footer a {
 color: var(--text-color);
}


