@import "base.css";
@import "answer.css";

.form {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

#app header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 95%;  
}

h1, h2 {
 color: #DF6F29;
}

img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

.select {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.select label {
  margin-top: 1rem;
  font-size: 2rem;
  color: #DF6F29;
}

.select select {
  flex: 1;
  font-size: 2rem;
  color: #DF6F29;
  padding: 1rem 0;
}

.select-content {
  display: flex;
  gap: 5px;
  align-items: center;
}

.select-content button {
  padding: 1rem 1rem;
  font-size: 2rem;
  background: #DF6F29;
  color: #fff;
  border-radius: 6px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
}

footer button {
  width: 100%;
  background: green;
  font-size: 2rem;
  padding: 2rem;
  border-radius: 20px;
  color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
}





/* @media (max-width: 420px) {
  :root {
    font-size: 50%;
  }

  body {
    background: #202024;
  }

  #app {
    background: none;
    border: none;
  }

  .cc-bg svg {
    width: 100%;
    height: auto;
  }
} */
/* 
@media (min-width: 780px) {
  #app {
    grid-template-areas:
      "A B"
      "C B";

    width: fit-content;
    max-width: fit-content;
    padding-inline: 4.8rem;

    grid-template-columns: 0.8fr 1fr;
  }

  #app header {
    grid-area: A;
  }

  #app section.cc {
    grid-area: B;
    align-self: center;
  }

  #app form {
    grid-area: C;
  }
} */
